/* 
    Document   : main
    Created on : 4-mrt-2013, 1:59:42
    Author     : Yi Ling
    Description:
        Purpose of the stylesheet follows.
*/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
root { 
    display: block;
}
body{
    font-family: "Helvetica Neue";
    background: url('images/house.png') no-repeat center center fixed;
}
h1{
    position: absolute;
    top: 30px;
    left: 580px;
    font-size: 40px;
}
#Inloggen{
    position: absolute;
    top: 330px;
    left: 600px;
    font-size: 15px;
}
#Registreren{
    position:absolute;
    top: 200px;
    left:500px;
    right:450px;
}
input{
    border: 1px solid gray;
    padding:8px;
}

#content{
    margin-left: 30px;
    margin-top: 50px;
}

.rounded{
    border-radius: 20px ;
}
/* calendar */
table.calendar		{ border-left:1px solid #999; }
tr.calendar-row	{  }
td.calendar-day	{ min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover	{ background:#eceff5; }
td.calendar-day-np	{ background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number		{ background:#999; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }

/*Menubalk overzicht*/
#kalender, #kalender ul, #kalender ul li, #kalender ul li a{
    padding: 0;
    margin: 0;
    line-height: 1;
}

#kalender:before, #kalender:after, #kalender > ul:before, #kalender > ul:after {
    content: '';
    display: table;
}

#kalender:after, #kalender > ul:after {
    clear: both;
}

#kalender {
    zoom:1
}

#kalender ul{
    background: url(images/nav-bg.png) repeat-x 0px 4px;
    height: 69px;
}

#kalender ul li{
    float: left;
    list-style: none;
}

#kalender ul li a{
    display: block;
    height: 37px;
    padding: 22px 30px 0;
    margin: 4px 2px 0;
    border-radius: 2px 2px 0 0;
    text-decoration: none;
    font-size: 15px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
    font-weight: 400;
    opacity: .9;
}

#kalender ul li:first-child a{
    margin: 4px 2px 0 0;
}

#kalender ul li a:hover, #kalender ul li.active a{

    background-color: #ff6666;
    display: block;
    height: 37px;
    margin-top: 0px;
    padding-top: 26px;
    color: black;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .55);
    opacity: 1;

}